@import "./variables.module.scss";

.container {
  padding: 0;
  max-width: $md;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  font-size: 1.2em;

  > * + * {
    margin-top: 1em;
  }

  .description {
    font-weight: 100;

    p {
      text-align: center;
      max-width: 55ch;
    }

    > * + * {
      margin-top: 1em;
    }
  }

  hr {
    width: 55ch;
    border: 0;
    height: 1em;

    position: relative;

    &:after {
      position: absolute;
      content: "";
      height: 1em;
      width: 600%;
      background: transparent url(./borders/border-black.svg) 0 repeat-x;
    }
  }
}

.image {
  max-width: 90%;
}

.title {
  font-size: 1.5em;
  @media (min-width: $md) {
    font-size: 3em;
  }
  text-align: center;
  padding: 1rem 0;
}

.row,
.rowReverse {
  display: flex;
  flex-direction: column;

  @media (min-width: $md) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  > img {
    max-width: 10em;
  }

  margin: 1em 0;
}

.rowReverse {
  flex-direction: column-reverse;
  @media (min-width: $md) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-weight: normal;
    text-align: justify;
    hyphens: auto;
    font-size: 1.2em;
    line-height: 1.2;
    max-width: 50ch;
  }
}

.buttonContainer {
  font-size: 1.2em;
  margin: 1rem 0;
}

.list {
  max-width: 50ch;
  padding: 0.5rem 0;
  font-size: 1.2em;
  text-align: center;

  li {
    display: inline-block;

    &:after {
      margin-left: 0.25em;
      margin-right: 0.25em;
      content: "·";
    }

    &:last-child:after {
      content: "";
    }
  }
}

.showMore {
  font-size: 1.3em;
  padding-bottom: 0.5rem;
}

.buttons {
  text-align: center;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3em;

  article {
    margin-top: 1em;
    display: flex;
    > * + * {
      margin-left: 1em;
    }
  }
}
