@import './variables.module.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * + * {
    margin-top: 1em;
  }
}

.printWrapper {
  position: relative;
  overflow: hidden;
}

.printContainer {
  position: absolute;
  top: -100%;
  left: -100%;
  z-index: -1;
  width: 1080px;
  height: 1920px;
  background: $main-bg;
}

.wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3em 0;

  > * + * {
    margin-top: 2rem;
  }
}

.buttons {
  margin: 1em;
  display: flex;
  justify-content: center;

  > * + * {
    margin-left: 1em;
  }
}

.logo {
  display: block;
}

.grid {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr;
  background: black;
  border: 2px solid black;
  width: 100%;

  &Items {
    aspect-ratio: 1;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: 2rem;
    padding: 0.15em;
    height: 100%;
  }
}

.attribution {
  font-size: 1.5em;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    max-width: 25em;

    width: 100%;
  }
}
