@import './variables.module.scss';

.container {
  width: 100%;
  display: grid;
  grid-auto-rows: 1fr;

  grid-gap: 1em;
  padding: 1em 0;

  > .empty {
    display: none;

    @media (min-width: $md) {
      display: inherit;
    }
  }
}

.empty {
  font-family: monospace;
  font-weight: normal;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;

  padding: 1.5em;
  font-size: 1.2em;

  text-align: center;

  > * + * {
    margin-top: 0.5em;
  }
}
