@import './variables.module.scss';

.form {
  > * + * {
    margin-top: 0.5em;
  }
}

.item {
  display: flex;
  flex-direction: column;

  label {
    display: inline-block;
    min-width: 15ch;
  }

  > * + * {
    margin-top: 0.5em;
  }

  @media (min-width: $md) {
    flex-direction: row;
    align-items: center;

    > * + * {
      margin-top: 0;
      margin-left: 0.5em;
    }
  }
}

.required {
  &:after {
    content: ' *';
  }
}
