@import './variables.module.scss';

.strip {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h1,
  > h2 {
    text-align: center;
  }

  > h2 {
    padding: 0.5em 0;
  }

  .link {
    font-size: 1.2em;
  }

  position: relative;
  z-index: 0;
}

.special {
  z-index: 1;
}

.title {
  font-size: 2em;
  font-weight: 800;

  margin-top: 1rem;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.about {
  padding: 2em 1em;
}

.blog {
  color: white;
  background: $secondary-color;
  position: relative;

  .link {
    padding: 0.5em 0;
    font-size: 1.2em;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  &:before,
  &:after {
    background: transparent url(./borders/bg-border-secondary.svg) 0 repeat-x;
    content: '';
    height: 1em;
    position: absolute;
    width: 600%;
  }

  &:before {
    top: -1em;
    transform: rotate(180deg);
  }

  &:after {
    bottom: -1em;
  }
}

.contacts {
  background: white;
}

.anchor {
  display: block;
  position: relative;

  top: -$header-height-small - 2em;

  @media (min-width: $md) {
    top: -$header-height - 1em;
  }
  visibility: hidden;
}

.loaderOverlay {
  background: rgba($color: $main-bg, $alpha: 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 1em);
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    position: relative;
    margin-top: -5em;
  }
}

.systems {
  background: $primary-color;
  position: relative;
  padding-bottom: 2.5em;

  &:before,
  &:after {
    background: transparent url(./borders/bg-border-primary.svg) 0 repeat-x;
    content: '';
    height: 1em;
    position: absolute;
    width: 600%;
  }

  &:before {
    top: -1em;
    transform: rotate(180deg);
  }

  &:after {
    bottom: -1em;
  }
}
