.input {
  text-align: left;

  background: white;
  color: black;
  border: solid black;
  border-width: 2px 2px 5px;

  padding: 0.5em;

  &:hover:not(:disabled) {
    border-bottom: 3px solid currentColor;
    margin-top: 2px;
  }

  &:disabled {
    opacity: 0.25;
  }

  &[type='number'] {
    min-width: 2.65em;
  }

  &.error {
    color: red;
    border-color: red;

    &::placeholder {
      color: red;
    }
  }
}
