@import './variables.module.scss';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba($primary-color, 0.75);
  z-index: 4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $md) {
    overflow: auto;
  }
}

.body {
  width: 100%;
  overflow: auto;
  position: relative;

  padding: 1em;

  min-width: calc(100% - 1em);

  @media (min-width: $md) {
    overflow: visible;
    width: auto;
    min-height: 0;
    max-height: 80vh;
    min-width: 30vw;
    max-width: 80vw;
  }

  background: $main-bg;
  color: black;
  border: 1px solid black;
  border-radius: 0.5em;
  box-shadow: 1em 1em 0 black;

  font-weight: 100;

  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;

  @media (min-width: $md) {
    position: absolute;
    transform: translate(33%, -33%);
  }

  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.75em;
  height: 2.75em;

  img {
    width: 1.15em;
    height: 1.15em;
  }
}
