@import './variables.module.scss';

.title {
  max-width: 30ch;
  padding: 0.5em;
}

.table {
  width: 100%;

  th,
  td {
    padding: 0.75em;
    height: 3em;
  }

  td {
    font-weight: normal;
    border-bottom: 1px solid black;
  }
}

.buttons {
  display: flex;
  > * + * {
    margin-left: 0.5em;
  }
}

.checkbox {
  display: flex;
}

.scrollable {
  width: 100%;
  overflow: auto;
}
