@import './variables.module.scss';

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  max-width: $xl;

  @media (min-width: $md) {
    grid-template-columns: 1fr 1fr min-content;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'hero hero .'
      'hero hero .'
      'hero hero .';
  }

  grid-gap: 1em;
  padding: 1em 0;
}

.hero {
  @media (min-width: $md) {
    grid-area: hero;
  }
}

.hero,
.post {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
